<div class="card-body p-0 m-3">
    <table class="table table-striped projects" id="mi-tabla">
        <thead>
            <tr>
                <th style="width: 1%">
                    #
                </th>
                <th style="width: 20%">
                    Category Name
                </th>
                <th style="width: 30%">
                    Date Created
                </th>
                <th style="width: 49%">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-sm btn-success" data-bs-toggle="modal" data-bs-target="#addItemModal">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
            {% for category in category_list %}
            <tr>
                <td>
                    {{category.id}}
                </td>
                <td>
                    {{category.name}}
                </td>
                <td>
                    {{category.created_at}}
                </td>
                <td class="project-actions text-right">
                    <a class="btn btn-info btn-sm" href="{% url 'products:category-update' category.id %}">
                        <i class="fas fa-pencil-alt">
                        </i>
                        Edit
                    </a>
                    <a class="btn btn-danger btn-sm delete-object" href="{% url 'products:category-delete' category.id %}">
                        <i class="fas fa-trash">
                        </i>
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="message" class="alert" role="alert"></div>
</div>
{% include "category/category_popup.html" %}


<script>
    $(document).ready(function() {

        var csrfToken = $("[name=csrfmiddlewaretoken]").val();

        $(".delete-object").on("click", function(e) {
            e.preventDefault();

            var url = $(this).attr("href");
            var table = $("#mi-tabla");

            $.ajax({
                url: url,
                method: "DELETE",
                dataType: "json",
                headers: { "X-CSRFToken": csrfToken },
                success: function(data) {
                    $("#message").text(data.message);
                    $("#message").removeClass("alert-danger").addClass("alert-success");

                     // Actualizar la tabla
                    table.load(table.data("{% url 'products:category-list' %}"));  // Recargar la tabla desde la URL de datos
                },
                error: function() {
                    $("#message").text("Hubo un error al eliminar el objeto.");
                    $("#message").removeClass("alert-success").addClass("alert-danger");
                }
            });
        });
    });
</script>