{% extends "base_dash/dashboard_base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Create Product</h2>
    <div class="card-body" id="product-form">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <!-- Campo name -->
            <div class="form-group mb-3 mt-3">
                <input class="form-control" type="text" placeholder="Producto" id="id_name" name="{{ form.name.name }}">
            </div>

            <!-- Campo Marca-->
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Marca" id="brand" name="{{form.brand.brand}}">

            </div>

            <!-- Campo category -->
            <div class="form-group">
                <label for="id_category">Categoría</label>
                <select class="custom-select rounded-0" id="id_category" name="{{form.category.category]]">
                    {% for categori in categories %}
                    <option>{{ categori.name }}</option>
                    {% empty %}
                    <option data-bs-toggle="modal" data-bs-target="#addItemModal">Sin registros</option>
                    {% endfor %}
                    <!-- <option data-form-url="/ruta-del-formulario-de-creacion" ></option> -->

                </select>
            </div>

            <!-- Campo category -->
            <div class="form-group">
                <label for="id_category">Sub-Categoría</label>
                <select class="custom-select rounded-0" id="id_category" name="{{form.sub_category.sub_category]]">
                    {% for subcategori in subcategories %}
                    <option>{{ subcategori.name }}</option>
                    {% empty %}
                    <option data-bs-toggle="modal" data-bs-target="#addItemModal">Sin registros</option>
                    {% endfor %}
                    <!-- <option data-form-url="/ruta-del-formulario-de-creacion" ></option> -->

                </select>

                
            </div>


            <!-- Campo Proveedor -->
            <div class="form-group">
                <label id="provider">Proveedor</label>
                <select class="custom-select rounded-0" id="provider" name="{{form.provider.provider}}">
                    {% for provider in providers %}
                    <option>{{provider.bussines_name}}</option>
                    {% empty %}
                    <option>Sin registros</option>
                    {% endfor %}
                    <option data-form-url="/ruta-del-formulario-de-creacion">Agregar Provider</option>

                </select>
            </div>

            <!-- Campo imagen_url -->
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="id_img" name="{{form.img.img}}">
                <label class="custom-file-label" for="id_imagen_url">Imagen</label>
            </div>

            <!-- campo Nuemero de serie -->
            <div class="form-group mb-3 mt-3">
                <input class="form-control" type="text" placeholder="Numero de Serie"
                    name="{{form.number_serie.number_serie}}" id="number_serie">
            </div>
            <!-- textarea -->
            <div class="form-group">
                <textarea class="form-control" rows="3" placeholder="Descripcion ..." id="description"
                    name="{{form.description.description}}"></textarea>
            </div>


            <div class="form-group">
                <button type="button" id="next-button" class="btn btn-primary">Next</button>
            </div>
        </form>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}