{% extends "base_dash/dashboard_base.html" %}
{% load static %}

{% block content %}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const priceCostInput = document.querySelector('input[name="price_cost"]');
        const profitMarginInput = document.querySelector('input[name="profit_margin"]');
        const priceSaleInput = document.querySelector('input[name="price_sale"]');
        const profitMarginRange = document.querySelector('#customRange1');
        const profitMarginLabel = document.querySelector('#profitMarginLabel');

        function updatePriceSaleAndMargin() {
            const priceCost = parseFloat(priceCostInput.value);
            let profitMargin;

            if (profitMarginInput.value !== "") {
                profitMargin = parseFloat(profitMarginInput.value);
                profitMarginRange.value = profitMargin; // Actualiza el slider si cambias el valor del campo profit_margin
            } else {
                profitMargin = parseFloat(profitMarginRange.value);
                profitMarginInput.value = profitMargin; // Actualiza el campo profit_margin si cambias el slider
            }

            const priceSale = priceCost * (1 + profitMargin);
            priceSaleInput.value = priceSale.toFixed(2);
            profitMarginLabel.innerText = `${(profitMargin * 100).toFixed(0)}%`; // Actualiza el label del porcentaje de ganancia
        }

        priceCostInput.addEventListener("input", function() {
            updatePriceSaleAndMargin();
        });

        profitMarginInput.addEventListener("input", function() {
            updatePriceSaleAndMargin();
        });

        profitMarginRange.addEventListener("input", function() {
            updatePriceSaleAndMargin();
        });

        // Calculamos el valor del Price Sale cuando la página se carga por primera vez
        updatePriceSaleAndMargin();
    });
</script>



<div class="container">
    <div class="row">
            <div class="card-body" id="price-form">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!--campo price -->
                    {% if form.id_product %}
                                <div class="form-group mb-3 mt-3">
                                <label for="id_category">Color</label>
                                <select class="custom-select" id="id_category" name="color" >
                                    <option value="">Select one color</option>
                                    {% for id in form.id_product.field.queryset %}
                                    <option value="{{id.pk}}" >{{id.article }}</option>
                                    {% empty %}
                                    <option data-bs-toggle="modal" data-bs-target="#addItemModal">Sin registros</option>
                                    {% endfor %}
                                </select>
                            </div>
                    {% endif %}
                    

                    <label for="inputPrice">Price Cost</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" id="inputPrice" name="price_cost" >
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo price_cost -->
                    <label for="inputPrice">Real Price cost</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="real_price_cost">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>


                    <!-- Campo profit_margin (Input Range) -->
                    <div class="form-group">
                        <label for="customRange1">Profit Margin (Input Range)</label>
                        <input type="range" class="custom-range" id="customRange1" min="0" max="5" step="0.01">
                        <span id="profitMarginLabel">0%</span> <!-- Label para mostrar el porcentaje de ganancia -->
                    </div>


                    <!-- Campo profit_margin (Input Number) -->
                    <label for="inputPrice">Profit Margin (Input Number)</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="profit_margin" value="0.0">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo price_wholesale(por mayor) -->
                    <label for="inputPrice">Suggested Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="text" class="form-control" name="suggested_price">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo price_discount -->
                    <label for="inputPrice">Market Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="market_price">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo suggested_price -->
                    <label for="inputPrice">Last Price</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="last_price">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo market_price -->
                    <label for="inputPrice">Discount</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="discount">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo last_price -->
                    <label for="inputPrice">Price Wholesale</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="price_wholesale">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo last_price -->
                    <label for="inputPrice">Price Discount</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="price_discount">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>

                    <!-- Campo last_price -->
                    <label for="inputPrice"><strong>Price Sale</strong> </label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input type="number" class="form-control" name="price_sale">
                        <div class="input-group-append">
                            <span class="input-group-text">.00</span>
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary">Create Product</button>
                </form>
            </div>
        
        <!-- /.card-body -->
    </div>
</div>

{% endblock %}